{# Template for requesting a password reset #}
{% extends 'blog/includes/base.html' %}
{% block title %}Forgot Password - My Blog{% endblock %}

{% block dynamic_content%}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-3 mt-3">
            <h2>Forgot Password</h2>
            <div> {% include "blog/includes/errors.html" %} </div>
            <form method="post">
                {% csrf_token %}
                {% for form_item in form %}
                    <div class="mb-3">
                        <label for="{{form_item.id_for_label}}" class="form-label">{{form_item.label}}</label>
                        {{form_item}}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Send Reset Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock  %}